div#app{
  nav{
    height: 10vh;
    background-color: $bg-nav;
    color: $c-nav;
    .menu{
      width: 1170px;
      margin: auto;
      font-size: 15px;
      padding-top: 15px;
    }
    span.logo{
      font-size: 25px;
    }
    .menu ul{
      display: inline;
      padding-left: 50px;
    }
    li.nav-li{
      font-size: 15px;
      display: inline;
      padding-right:30px;
    }
  }
  .my_jumbotron{
    background-image:url("img/bg-painter-home.jpg");
    background-position: right bottom;
    background-size: cover;
    height: 300px;
    padding: 40px;
    .jumbo_txt{
      width: 350px;
      h1{
       display: inline;
      }
      .jumbo_pink{
        padding: 25px 0px;
        color: $c-offer;
        .offer{
          font-style: italic;
          font-weight: bold;
          display: block;
        }
      }
      a{
         padding: 7px 20px;
      }
      a.button-black{
        color: white;
        background-color: black;
      }
      a.button-trsp{
        border: 1px solid black;
        color: black;
      }
    }

  }
}
